.image.is-300x300 {
    width: 300px;
    height: 300px;
}

.image.is-200x200 {
    width: 200px;
    height: 200px;
}


/* .hero-body {
    padding: 7rem 1.5rem;
} */


/* .hero.is-primary .title,
.hero.is-primary .subtitle {
    text-shadow: 0 1px 0 grey, 0 -1px 0 grey, 1px 0 0 grey, -1px 0 0 grey;
} */

.black {
    color: black!important;
}

.card {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
    margin-bottom: 2rem;
  }
  .card-header-title {
    color: #8F99A3;
    font-weight: 400;
  }
  .info-tiles {
    margin: 1rem 0;
  }
  .info-tiles .subtitle {
    font-weight: 300;
    color: #8F99A3;
  }
  .hero.welcome.is-info {
    background: #36D1DC;
    background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);
    background: linear-gradient(to right, #5B86E5, #36D1DC);
  }
  .hero.welcome .title, .hero.welcome .subtitle {
    color: hsl(192, 17%, 99%);
  }
  .card .content {
    font-size: 14px;
  }
  .card-footer-item {
    font-size: 14px;
    font-weight: 700;
    color: #8F99A3;
  }
  .card-footer-item:hover {
  }
  .card-table .table {
    margin-bottom: 0;
  }
  .events-card .card-table {
    max-height: 250px;
    overflow-y: scroll;
  }


/* Line Chart */


/* look in the inspector for what axis--x refers to */

.axis--x path {
    /* changing this affects whether the x-axis is drawn */
    display: none;
}

.line {
    /* try changing the fill---notice how weird it looks! */
    /* that is because we do not have closed polygons. */
    fill: none;
    stroke: steelblue;
    /* you can slide this value back and forth to see which lines are impacted */
    stroke-width: 2px;
}

.border {
    fill: none;
    stroke-width: 1px;
}

/* .interior {
    stroke: white;
}

.exterior {
    stroke-width: 1px;
    stroke: #727272;
} */

/* make it really clear where the plot area is inside the svg */

rect#plot {
    fill: white;
    stroke: none;
}


/* Choropleth Map */
.counties {
    fill: none;
}

.states {
    fill: none;
    /* stroke: #bbbbbb; */
    stroke-linejoin: round;
}

.tooltip {
    position: absolute;
    padding: 7px;
    font-size: 0.9em;
    pointer-events: none;
    background: rgba(255, 255, 255, 0.96);
    border: 1px solid #ccc;
    border-radius: 4px;
    -moz-box-shadow:    3px 3px 10px 0px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.25);
    box-shadow:         3px 3px 10px 0px rgba(0, 0, 0, 0.25);
  }

  .wide {
    width: 140px;
  }
  
  .tooltip p {
    margin: 0;
    padding: 0;
  }
  
  .tooltip table {
    margin: 0;
    padding: 0;
    border-collapse: collapse;
  }
  
  .wide {
    width: 140px;
  }