.image.is-300x300 {
    width: 300px;
    height: 300px;
}

.image.is-200x200 {
    width: 200px;
    height: 200px;
}

/* .hero-body {
    padding: 7rem 1.5rem;
} */


/* .hero.is-primary .title,
.hero.is-primary .subtitle {
    text-shadow: 0 1px 0 grey, 0 -1px 0 grey, 1px 0 0 grey, -1px 0 0 grey;
} */
